  <div id="mnav">
      <div id="lnav">
        <h1><a href="/"><img src="/public/imgs/actix.png"/></a><a id="name" href="/">Actix</a></h1>
        <label ><a href="#" id="menu">M</a></label>
      </div>
      <div id="rnav">
          <li> <a href="/docs" title="docs">文档</a></li>
          <li> <a href="/blog" title="blog">博客</a></li>
          <li> <a href="/projects.html" title="项目">Projcsts</a></li>
          <li> <a href="/community.html" title="社区">Community</a></li>
          <li> <a href="/more.html" title="more">源码</a></li>
      </div> 
  </div>
