<!DOCTYPE html>
<html>
  <head>
    {% include "head.liquid" %}
  </head>
  <body>
    <header>
      {% include "header.liquid" %}
    </header>
    <main>
      <section class="docs">
        <div class="inner">
          <aside>
            <details>
              <summary>2018</summary>
              <ul>
                <li><a {%if page.permalink == "Web UI"%}class="active"{%endif%} href="/blog/2018/01-20:Web-UI.html">Web UI</a></li>
              </ul>
            </details>
          </aside>
          <hr id="hr">
          <main>
          {{ page.content }}
          </main>
        </div>
      </section>
    </main>
    <footer>
      {% include "footer.liquid" %}
    </footer>
  </body>
</html>
